In [1]:
import csv
import os
import pandas as pd
import numpy as np
from datetime import date
import collections

In [2]:
os.chdir('/Users/ruddysimonpour/Desktop/Uber_project/')
Data = pd.read_csv("RideShare_Data_201801.csv", parse_dates=[0], low_memory=False)

In [3]:
file_data =pd.DataFrame(Data)
file_data

,Pickup_DateTime,DropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Pickup_City,Dropoff_City,Pickup_ZipCode,Dropoff_ZipCode,Trip_Duration,Temp,humidity,wind_speed,weather_id,weather_main,weather_description
0,2018-01-01 22:22:03,2018-01-01 22:44:48,205.0,63.0,1.0,"Saint Albans, Queens","Cypress Hills, Brooklyn",11366,11216,22.750000,17,34,3,800,Clear,sky is clear
1,2018-01-01 12:44:06,2018-01-01 13:12:08,125.0,93.0,0.0,"Hudson Sq, Manhattan","Flushing Meadows-Corona Park, Queens",10024,11366,28.033333,6,60,2,800,Clear,sky is clear
2,2018-01-01 00:28:16,2018-01-01 00:41:23,39.0,71.0,1.0,"Canarsie, Brooklyn","East Flatbush/Farragut, Brooklyn",11216,11216,13.116667,11,43,4,800,Clear,sky is clear
3,2018-01-01 02:42:55,2018-01-01 02:56:46,100.0,137.0,0.0,"Garment District, Manhattan","Kips Bay, Manhattan",10024,10024,13.850000,9,46,5,800,Clear,sky is clear
4,2018-01-01 14:15:46,2018-01-01 14:37:55,55.0,115.0,0.0,"Coney Island, Brooklyn","Grymes Hill/Clifton, Staten Island",11216,10306,22.150000,8,60,2,800,Clear,sky is clear
5,2018-01-01 04:44:39,2018-01-01 05:01:29,7.0,244.0,0.0,"Astoria, Queens","Washington Heights South, Manhattan",11366,10024,16.833333,8,55,4,800,Clear,sky is clear
6,2018-01-01 02:39:44,2018-01-01 02:48:16,144.0,249.0,0.0,"Little Italy/NoLiTa, Manhattan","West Village, Manhattan",10013,10024,8.533333,9,46,5,800,Clear,sky is clear
7,2018-01-01 03:46:04,2018-01-01 03:51:51,246.0,68.0,0.0,"West Chelsea/Hudson Yards, Manhattan","East Chelsea, Manhattan",10001,10024,5.783333,9,51,5,800,Clear,sky is clear
8,2018-01-01 05:34:02,2018-01-01 05:39:42,130.0,215.0,0.0,"Jamaica, Queens","South Jamaica, Queens",11366,11366,5.666667,8,55,4,800,Clear,sky is clear
9,2018-01-01 13:59:46,2018-01-01 14:09:11,49.0,65.0,0.0,"Clinton Hill, Brooklyn","Downtown Brooklyn/MetroTech, Brooklyn",11216,11201,9.416667,8,60,2,800,Clear,sky is clear
10,2018-01-01 03:45:05,2018-01-01 03:59:21,164.0,87.0,0.0,"Midtown South, Manhattan","Financial District North, Manhattan",10017,10024,14.266667,9,51,5,800,Clear,sky is clear
11,2018-01-01 23:40:57,2018-01-01 23:46:44,37.0,36.0,0.0,"Bushwick South, Brooklyn","Bushwick North, Brooklyn",11216,11216,5.783333,14,37,1,800,Clear,sky is clear
12,2018-01-01 04:20:33,2018-01-01 04:32:09,68.0,166.0,1.0,"East Chelsea, Manhattan","Morningside Heights, Manhattan",10024,10024,11.600000,9,51,5,800,Clear,sky is clear
13,2018-01-01 01:07:13,2018-01-01 01:23:46,108.0,14.0,0.0,"Gravesend, Brooklyn","Bay Ridge, Brooklyn",11216,11216,16.550000,10,43,5,800,Clear,sky is clear
14,2018-01-01 00:33:59,2018-01-01 01:41:10,216.0,72.0,0.0,"South Ozone Park, Queens","East Flatbush/Remsen Village, Brooklyn",11366,11216,67.183333,10,43,5,800,Clear,sky is clear
15,2018-01-01 01:35:30,2018-01-01 01:41:17,216.0,216.0,0.0,"South Ozone Park, Queens","South Ozone Park, Queens",11366,11366,5.783333,10,46,4,800,Clear,sky is clear
16,2018-01-01 01:02:37,2018-01-01 01:11:38,37.0,198.0,0.0,"Bushwick South, Brooklyn","Ridgewood, Queens",11216,11366,9.016667,10,43,5,800,Clear,sky is clear
17,2018-01-01 04:14:36,2018-01-01 04:20:21,7.0,7.0,0.0,"Astoria, Queens","Astoria, Queens",11366,11366,5.750000,9,51,5,800,Clear,sky is clear
18,2018-01-01 18:15:32,2018-01-01 18:46:36,132.0,7.0,0.0,"JFK Airport, Queens","Astoria, Queens",11366,11366,31.066667,16,36,4,800,Clear,sky is clear
19,2018-01-01 13:33:30,2018-01-01 13:41:31,74.0,263.0,0.0,"East Harlem North, Manhattan","Yorkville West, Manhattan",10024,10024,8.016667,8,60,2,800,Clear,sky is clear
20,2018-01-01 10:43:24,2018-01-01 11:06:18,228.0,246.0,0.0,"Sunset Park West, Brooklyn","West Chelsea/Hudson Yards, Manhattan",11216,10001,22.900000,6,55,2,800,Clear,sky is clear
21,2018-01-01 19:04:40,2018-01-01 19:13:25,170.0,79.0,1.0,"Murray Hill, Manhattan","East Village, Manhattan",10024,10024,8.750000,18,34,4,800,Clear,sky is clear
22,2018-01-01 13:19:33,2018-01-01 13:30:38,74.0,42.0,1.0,"East Harlem North, Manhattan","Central Harlem North, Manhattan",10024,10024,11.083333,6,60,2,800,Clear,sky is clear
23,2018-01-01 14:41:42,2018-01-01 15:00:00,160.0,223.0,0.0,"Middle Village, Queens","Steinway, Queens",11366,11105,18.300000,10,55,3,800,Clear,sky is clear
24,2018-01-01 06:32:28,2018-01-01 06:59:48,220.0,169.0,0.0,"Spuyten Duyvil/Kingsbridge, Bronx","Mount Hope, Bronx",10462,10462,27.333333,8,55,4,800,Clear,sky is clear
25,2018-01-01 19:56:43,2018-01-01 20:04:45,164.0,161.0,0.0,"Midtown South, Manhattan","Midtown Center, Manhattan",10017,10036,8.033333,18,34,1,800,Clear,sky is clear
26,2018-01-01 04:00:02,2018-01-01 04:07:26,152.0,244.0,0.0,"Manhattanville, Manhattan","Washington Heights South, Manhattan",10027,10024,7.400000,9,51,5,800,Clear,sky is clear
27,2018-01-01 03:33:44,2018-01-01 04:04:05,132.0,123.0,0.0,"JFK Airport, Queens","Homecrest, Brooklyn",11366,11216,30.350000,9,51,5,800,Clear,sky is clear
28,2018-01-01 22:26:39,2018-01-01 22:36:12,164.0,45.0,0.0,"Midtown South, Manhattan","Chinatown, Manhattan",10017,10024,9.550000,17,34,3,800,Clear,sky is clear
29,2018-01-01 01:20:27,2018-01-01 01:26:12,226.0,7.0,0.0,"Sunnyside, Queens","Astoria, Queens",11366,11366,5.750000,10,43,5,800,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244466,2018-01-31 23:52:58,2018-02-01 00:10:56,140.0,80.0,0.0,"Lenox Hill East, Manhattan","East Williamsburg, Brooklyn",10024,11216,17.966667,29,46,4,802,Clouds,scattered clouds
244467,2018-01-31 15:13:02,2018-01-31 16:12:47,247.0,230.0,0.0,"West Concourse, Bronx","Times Sq/Theatre District, Manhattan",10462,10024,59.750000,20,48,2,802,Clouds,scattered clouds
244468,2018-01-31 00:29:16,2018-01-31 01:00:07,140.0,255.0,0.0,"Lenox Hill East, Manhattan","Williamsburg (North Side), Brooklyn",10024,11211,30.850000,29,50,10,804,Clouds,overcast clouds
244469,2018-01-31 15:38:56,2018-01-31 15:58:43,234.0,68.0,0.0,"Union Sq, Manhattan","East Chelsea, Manhattan",10003,10024,19.783333,22,41,3,800,Clear,sky is clear
244470,2018-01-31 19:41:52,2018-01-31 19:48:33,177.0,35.0,0.0,"Ocean Hill, Brooklyn","Brownsville, Brooklyn",11216,11216,6.683333,30,100,2,800,Clear,sky is clear
244471,2018-01-31 16:42:54,2018-01-31 16:55:12,168.0,247.0,0.0,"Mott Haven/Port Morris, Bronx","West Concourse, Bronx",10462,10462,12.300000,25,38,2,802,Clouds,scattered clouds
244472,2018-01-31 08:20:31,2018-01-31 08:29:55,112.0,145.0,0.0,"Greenpoint, Brooklyn","Long Island City/Hunters Point, Queens",11216,11366,9.400000,20,53,4,800,Clear,sky is clear
244473,2018-01-31 00:12:35,2018-01-31 00:19:52,205.0,130.0,0.0,"Saint Albans, Queens","Jamaica, Queens",11366,11366,7.283333,29,50,10,804,Clouds,overcast clouds
244474,2018-01-31 15:53:15,2018-01-31 16:05:09,246.0,68.0,0.0,"West Chelsea/Hudson Yards, Manhattan","East Chelsea, Manhattan",10001,10024,11.900000,22,41,3,800,Clear,sky is clear
244475,2018-01-31 13:14:01,2018-01-31 13:20:08,29.0,150.0,0.0,"Brighton Beach, Brooklyn","Manhattan Beach, Brooklyn",11216,11216,6.116667,17,66,2,800,Clear,sky is clear
244476,2018-01-31 15:17:08,2018-01-31 17:56:19,205.0,205.0,0.0,"Saint Albans, Queens","Saint Albans, Queens",11366,11366,159.183333,20,48,2,802,Clouds,scattered clouds
244477,2018-01-31 18:57:02,2018-01-31 19:15:55,113.0,68.0,0.0,"Greenwich Village North, Manhattan","East Chelsea, Manhattan",10024,10024,18.883333,29,36,4,802,Clouds,scattered clouds
244478,2018-01-31 13:22:56,2018-01-31 13:49:32,263.0,170.0,0.0,"Yorkville West, Manhattan","Murray Hill, Manhattan",10024,10024,26.600000,17,66,2,800,Clear,sky is clear
244479,2018-01-31 16:13:50,2018-01-31 16:49:33,39.0,181.0,0.0,"Canarsie, Brooklyn","Park Slope, Brooklyn",11216,11216,35.716667,22,41,3,800,Clear,sky is clear
244480,2018-01-31 09:17:23,2018-01-31 09:49:58,13.0,164.0,0.0,"Battery Park City, Manhattan","Midtown South, Manhattan",10024,10017,32.583333,18,48,6,800,Clear,sky is clear
244481,2018-01-31 20:25:59,2018-01-31 20:39:32,162.0,145.0,0.0,"Midtown East, Manhattan","Long Island City/Hunters Point, Queens",10024,11366,13.550000,30,100,2,800,Clear,sky is clear
244482,2018-01-31 08:09:33,2018-01-31 08:28:57,137.0,90.0,0.0,"Kips Bay, Manhattan","Flatiron, Manhattan",10024,10024,19.400000,20,53,4,800,Clear,sky is clear
244483,2018-01-31 21:25:59,2018-01-31 21:29:03,49.0,217.0,0.0,"Clinton Hill, Brooklyn","South Williamsburg, Brooklyn",11216,11216,3.066667,31,39,5,803,Clouds,broken clouds
244484,2018-01-31 08:22:09,2018-01-31 08:32:05,229.0,237.0,0.0,"Sutton Place/Turtle Bay North, Manhattan","Upper East Side South, Manhattan",10022,10024,9.933333,20,53,4,800,Clear,sky is clear
244485,2018-01-31 18:20:35,2018-01-31 18:41:45,68.0,88.0,0.0,"East Chelsea, Manhattan","Financial District South, Manhattan",10024,10024,21.166667,27,36,4,802,Clouds,scattered clouds
244486,2018-01-31 13:57:37,2018-01-31 14:23:20,142.0,233.0,0.0,"Lincoln Square East, Manhattan","UN/Turtle Bay South, Manhattan",10024,10024,25.716667,18,57,1,802,Clouds,scattered clouds
244487,2018-01-31 17:10:09,2018-01-31 17:21:49,164.0,43.0,0.0,"Midtown South, Manhattan","Central Park, Manhattan",10017,10024,11.666667,25,38,2,802,Clouds,scattered clouds
244488,2018-01-31 13:21:30,2018-01-31 13:35:04,50.0,166.0,0.0,"Clinton West, Manhattan","Morningside Heights, Manhattan",10036,10024,13.566667,17,66,2,800,Clear,sky is clear
244489,2018-01-31 06:42:08,2018-01-31 06:54:22,223.0,74.0,0.0,"Steinway, Queens","East Harlem North, Manhattan",11105,10024,12.233333,22,53,8,800,Clear,sky is clear
244490,2018-01-31 11:17:47,2018-01-31 11:43:51,140.0,138.0,0.0,"Lenox Hill East, Manhattan","LaGuardia Airport, Queens",10024,11371,26.066667,18,57,4,800,Clear,sky is clear
244491,2018-01-31 19:34:53,2018-01-31 20:10:58,50.0,256.0,0.0,"Clinton West, Manhattan","Williamsburg (South Side), Brooklyn",10036,11249,36.083333,30,100,2,800,Clear,sky is clear
244492,2018-01-31 13:13:27,2018-01-31 13:37:18,89.0,61.0,1.0,"Flatbush/Ditmas Park, Brooklyn","Crown Heights North, Brooklyn",11216,11216,23.850000,17,66,2,800,Clear,sky is clear
244493,2018-01-31 16:25:25,2018-01-31 16:38:58,235.0,78.0,0.0,"University Heights/Morris Heights, Bronx","East Tremont, Bronx",10462,10457,13.550000,22,41,3,800,Clear,sky is clear
244494,2018-01-31 14:14:14,2018-01-31 14:19:09,17.0,49.0,1.0,"Bedford, Brooklyn","Clinton Hill, Brooklyn",11216,11216,4.916667,18,57,1,802,Clouds,scattered clouds
244495,2018-01-31 11:22:19,2018-01-31 11:25:31,79.0,114.0,0.0,"East Village, Manhattan","Greenwich Village South, Manhattan",10024,10024,3.200000,18,57,4,800,Clear,sky is clear

In [35]:

sort_file = file_data.rename(columns = {"Pickup_DateTime" : "Pickup_Datetime",
                                       "DropOff_datetime" : "Dropoff_Datetime",
                                       "Pickup_ZipCode" : "Pickup_Zipcode",
                                       "Dropoff_ZipCode" : "Dropoff_Zipcode",
                                       "Temp":"Temperature",
                                       "humidity":"Humidity",
                                       "wind_speed":"Wind_Speed",
                                       "weather_id":"ID_Weather",
                                       "weather_main" : "Weather_Like",
                                       "weather_description" : "Weather_Description"})
sort_file.head()


sort_file["Trip_Duration"] = sort_file["Trip_Duration"].map("{:,.2f}".format)
sort_file


sort_file.sort_values(["Pickup_Datetime"], ascending = True)

,Pickup_Datetime,Dropoff_Datetime,PUlocationID,DOlocationID,SR_Flag,Pickup_City,Dropoff_City,Pickup_Zipcode,Dropoff_Zipcode,Trip_Duration,Temperature,Humidity,Wind_Speed,ID_Weather,Weather_Like,Weather_Description
6577,2018-01-01 00:00:20,2018-01-01 00:06:44,243.0,244.0,0.0,"Washington Heights North, Manhattan","Washington Heights South, Manhattan",10033,10024,6.40,11,43,4,800,Clear,sky is clear
4358,2018-01-01 00:00:23,2018-01-01 00:31:12,181.0,186.0,0.0,"Park Slope, Brooklyn","Penn Station/Madison Sq West, Manhattan",11216,10001,30.82,11,43,4,800,Clear,sky is clear
5655,2018-01-01 00:01:31,2018-01-01 00:19:52,223.0,82.0,1.0,"Steinway, Queens","Elmhurst, Queens",11105,11366,18.35,11,43,4,800,Clear,sky is clear
2596,2018-01-01 00:02:08,2018-01-01 00:18:58,256.0,232.0,1.0,"Williamsburg (South Side), Brooklyn","Two Bridges/Seward Park, Manhattan",11249,10024,16.83,11,43,4,800,Clear,sky is clear
7185,2018-01-01 00:02:08,2018-01-01 00:26:41,31.0,41.0,0.0,"Bronx Park, Bronx","Central Harlem, Manhattan",10462,10024,24.55,11,43,4,800,Clear,sky is clear
6018,2018-01-01 00:02:14,2018-01-01 00:15:50,223.0,260.0,0.0,"Steinway, Queens","Woodside, Queens",11105,11366,13.60,11,43,4,800,Clear,sky is clear
4274,2018-01-01 00:02:15,2018-01-01 00:20:06,181.0,14.0,0.0,"Park Slope, Brooklyn","Bay Ridge, Brooklyn",11216,11216,17.85,11,43,4,800,Clear,sky is clear
685,2018-01-01 00:02:35,2018-01-01 00:18:49,173.0,63.0,0.0,"North Corona, Queens","Cypress Hills, Brooklyn",11366,11216,16.23,11,43,4,800,Clear,sky is clear
605,2018-01-01 00:02:37,2018-01-01 00:16:22,132.0,134.0,0.0,"JFK Airport, Queens","Kew Gardens, Queens",11366,11366,13.75,11,43,4,800,Clear,sky is clear
330,2018-01-01 00:03:26,2018-01-01 00:13:26,234.0,148.0,0.0,"Union Sq, Manhattan","Lower East Side, Manhattan",10003,10024,10.00,11,43,4,800,Clear,sky is clear
4919,2018-01-01 00:03:32,2018-01-01 00:19:21,249.0,246.0,1.0,"West Village, Manhattan","West Chelsea/Hudson Yards, Manhattan",10024,10001,15.82,11,43,4,800,Clear,sky is clear
4822,2018-01-01 00:04:14,2018-01-01 00:28:21,162.0,216.0,0.0,"Midtown East, Manhattan","South Ozone Park, Queens",10024,11366,24.12,11,43,4,800,Clear,sky is clear
7134,2018-01-01 00:04:23,2018-01-01 00:15:41,126.0,167.0,1.0,"Hunts Point, Bronx","Morrisania/Melrose, Bronx",10462,10451,11.30,11,43,4,800,Clear,sky is clear
3214,2018-01-01 00:04:28,2018-01-01 00:35:05,223.0,192.0,1.0,"Steinway, Queens","Queensboro Hill, Queens",11105,11366,30.62,11,43,4,800,Clear,sky is clear
5035,2018-01-01 00:04:53,2018-01-01 00:08:30,123.0,123.0,0.0,"Homecrest, Brooklyn","Homecrest, Brooklyn",11216,11216,3.62,11,43,4,800,Clear,sky is clear
1556,2018-01-01 00:05:25,2018-01-01 00:18:40,62.0,177.0,0.0,"Crown Heights South, Brooklyn","Ocean Hill, Brooklyn",11216,11216,13.25,11,43,4,800,Clear,sky is clear
4539,2018-01-01 00:05:43,2018-01-01 00:11:46,225.0,17.0,0.0,"Stuyvesant Heights, Brooklyn","Bedford, Brooklyn",11216,11216,6.05,11,43,4,800,Clear,sky is clear
4552,2018-01-01 00:05:49,2018-01-01 00:21:55,17.0,36.0,0.0,"Bedford, Brooklyn","Bushwick North, Brooklyn",11216,11216,16.10,11,43,4,800,Clear,sky is clear
4675,2018-01-01 00:05:55,2018-01-01 00:13:52,244.0,243.0,0.0,"Washington Heights South, Manhattan","Washington Heights North, Manhattan",10024,10033,7.95,11,43,4,800,Clear,sky is clear
5387,2018-01-01 00:06:01,2018-01-01 00:11:01,137.0,164.0,0.0,"Kips Bay, Manhattan","Midtown South, Manhattan",10024,10017,5.00,11,43,4,800,Clear,sky is clear
1662,2018-01-01 00:06:02,2018-01-01 00:08:07,26.0,26.0,0.0,"Borough Park, Brooklyn","Borough Park, Brooklyn",11216,11216,2.08,11,43,4,800,Clear,sky is clear
7199,2018-01-01 00:06:20,2018-01-01 00:14:45,61.0,177.0,0.0,"Crown Heights North, Brooklyn","Ocean Hill, Brooklyn",11216,11216,8.42,11,43,4,800,Clear,sky is clear
872,2018-01-01 00:06:29,2018-01-01 00:26:27,81.0,174.0,1.0,"Eastchester, Bronx","Norwood, Bronx",10462,10462,19.97,11,43,4,800,Clear,sky is clear
7762,2018-01-01 00:06:57,2018-01-01 00:33:42,61.0,228.0,0.0,"Crown Heights North, Brooklyn","Sunset Park West, Brooklyn",11216,11216,26.75,11,43,4,800,Clear,sky is clear
3549,2018-01-01 00:07:07,2018-01-01 00:21:59,66.0,133.0,0.0,"DUMBO/Vinegar Hill, Brooklyn","Kensington, Brooklyn",11216,11216,14.87,11,43,4,800,Clear,sky is clear
8085,2018-01-01 00:07:18,2018-01-01 00:22:06,181.0,89.0,0.0,"Park Slope, Brooklyn","Flatbush/Ditmas Park, Brooklyn",11216,11216,14.80,11,43,4,800,Clear,sky is clear
3417,2018-01-01 00:07:27,2018-01-01 01:06:33,174.0,164.0,0.0,"Norwood, Bronx","Midtown South, Manhattan",10462,10017,59.10,11,43,4,800,Clear,sky is clear
4802,2018-01-01 00:07:27,2018-01-01 00:16:21,16.0,9.0,0.0,"Bayside, Queens","Auburndale, Queens",11366,11366,8.90,11,43,4,800,Clear,sky is clear
4542,2018-01-01 00:07:28,2018-01-01 00:11:32,123.0,123.0,0.0,"Homecrest, Brooklyn","Homecrest, Brooklyn",11216,11216,4.07,11,43,4,800,Clear,sky is clear
7096,2018-01-01 00:07:28,2018-01-01 00:23:35,17.0,112.0,0.0,"Bedford, Brooklyn","Greenpoint, Brooklyn",11216,11216,16.12,11,43,4,800,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242379,2018-01-31 23:51:36,2018-02-01 00:10:11,42.0,148.0,0.0,"Central Harlem North, Manhattan","Lower East Side, Manhattan",10024,10024,18.58,29,46,4,802,Clouds,scattered clouds
242475,2018-01-31 23:51:40,2018-02-01 00:35:07,90.0,177.0,1.0,"Flatiron, Manhattan","Ocean Hill, Brooklyn",10024,11216,43.45,29,46,4,802,Clouds,scattered clouds
238766,2018-01-31 23:52:09,2018-02-01 00:04:09,249.0,87.0,0.0,"West Village, Manhattan","Financial District North, Manhattan",10024,10024,12.00,29,46,4,802,Clouds,scattered clouds
242131,2018-01-31 23:52:29,2018-02-01 00:00:39,51.0,254.0,0.0,"Co-Op City, Bronx","Williamsbridge/Olinville, Bronx",10475,10467,8.17,29,46,4,802,Clouds,scattered clouds
244466,2018-01-31 23:52:58,2018-02-01 00:10:56,140.0,80.0,0.0,"Lenox Hill East, Manhattan","East Williamsburg, Brooklyn",10024,11216,17.97,29,46,4,802,Clouds,scattered clouds
237708,2018-01-31 23:53:06,2018-02-01 00:01:04,148.0,255.0,0.0,"Lower East Side, Manhattan","Williamsburg (North Side), Brooklyn",10024,11211,7.97,29,46,4,802,Clouds,scattered clouds
244402,2018-01-31 23:53:15,2018-02-01 00:05:01,234.0,140.0,0.0,"Union Sq, Manhattan","Lenox Hill East, Manhattan",10003,10024,11.77,29,46,4,802,Clouds,scattered clouds
240415,2018-01-31 23:53:44,2018-01-31 23:58:38,234.0,107.0,1.0,"Union Sq, Manhattan","Gramercy, Manhattan",10003,10024,4.90,29,46,4,802,Clouds,scattered clouds
241334,2018-01-31 23:53:45,2018-02-01 00:15:08,74.0,186.0,0.0,"East Harlem North, Manhattan","Penn Station/Madison Sq West, Manhattan",10024,10001,21.38,29,46,4,802,Clouds,scattered clouds
243687,2018-01-31 23:53:55,2018-02-01 00:05:55,47.0,235.0,0.0,"Claremont/Bathgate, Bronx","University Heights/Morris Heights, Bronx",10462,10462,12.00,29,46,4,802,Clouds,scattered clouds
241120,2018-01-31 23:53:58,2018-02-01 00:01:13,223.0,70.0,0.0,"Steinway, Queens","East Elmhurst, Queens",11105,11366,7.25,29,46,4,802,Clouds,scattered clouds
240756,2018-01-31 23:54:06,2018-02-01 00:02:49,169.0,167.0,0.0,"Mount Hope, Bronx","Morrisania/Melrose, Bronx",10462,10451,8.72,29,46,4,802,Clouds,scattered clouds
237950,2018-01-31 23:54:20,2018-02-01 00:05:01,148.0,255.0,1.0,"Lower East Side, Manhattan","Williamsburg (North Side), Brooklyn",10024,11211,10.68,29,46,4,802,Clouds,scattered clouds
242716,2018-01-31 23:54:52,2018-02-01 00:12:00,255.0,225.0,1.0,"Williamsburg (North Side), Brooklyn","Stuyvesant Heights, Brooklyn",11211,11216,17.13,29,46,4,802,Clouds,scattered clouds
242164,2018-01-31 23:54:57,2018-02-01 00:34:48,202.0,29.0,0.0,"Roosevelt Island, Manhattan","Brighton Beach, Brooklyn",10044,11216,39.85,29,46,4,802,Clouds,scattered clouds
241387,2018-01-31 23:55:03,2018-02-01 00:26:10,231.0,225.0,1.0,"TriBeCa/Civic Center, Manhattan","Stuyvesant Heights, Brooklyn",10007,11216,31.12,29,46,4,802,Clouds,scattered clouds
244351,2018-01-31 23:55:19,2018-02-01 00:05:34,173.0,83.0,1.0,"North Corona, Queens","Elmhurst/Maspeth, Queens",11366,11373,10.25,29,46,4,802,Clouds,scattered clouds
242976,2018-01-31 23:55:41,2018-02-01 00:17:20,79.0,262.0,0.0,"East Village, Manhattan","Yorkville East, Manhattan",10024,10024,21.65,29,46,4,802,Clouds,scattered clouds
241158,2018-01-31 23:56:06,2018-02-01 00:10:29,36.0,49.0,1.0,"Bushwick North, Brooklyn","Clinton Hill, Brooklyn",11216,11216,14.38,29,46,4,802,Clouds,scattered clouds
240787,2018-01-31 23:56:23,2018-02-01 00:12:57,235.0,213.0,0.0,"University Heights/Morris Heights, Bronx","Soundview/Castle Hill, Bronx",10462,10462,16.57,29,46,4,802,Clouds,scattered clouds
239111,2018-01-31 23:56:44,2018-02-01 00:04:45,138.0,92.0,1.0,"LaGuardia Airport, Queens","Flushing, Queens",11371,11366,8.02,29,46,4,802,Clouds,scattered clouds
239705,2018-01-31 23:56:50,2018-02-01 00:04:12,141.0,193.0,0.0,"Lenox Hill West, Manhattan","Queensbridge/Ravenswood, Queens",10024,11366,7.37,29,46,4,802,Clouds,scattered clouds
237775,2018-01-31 23:57:10,2018-02-01 00:04:05,20.0,78.0,0.0,"Belmont, Bronx","East Tremont, Bronx",10462,10457,6.92,29,46,4,802,Clouds,scattered clouds
240179,2018-01-31 23:57:20,2018-02-01 00:24:15,65.0,218.0,0.0,"Downtown Brooklyn/MetroTech, Brooklyn","Springfield Gardens North, Queens",11201,11366,26.92,29,46,4,802,Clouds,scattered clouds
237143,2018-01-31 23:57:29,2018-02-01 00:03:09,68.0,68.0,0.0,"East Chelsea, Manhattan","East Chelsea, Manhattan",10024,10024,5.67,29,46,4,802,Clouds,scattered clouds
238294,2018-01-31 23:57:42,2018-02-01 00:13:44,79.0,4.0,0.0,"East Village, Manhattan","Alphabet City, Manhattan",10024,10009,16.03,29,46,4,802,Clouds,scattered clouds
238821,2018-01-31 23:58:13,2018-02-01 00:02:21,17.0,225.0,1.0,"Bedford, Brooklyn","Stuyvesant Heights, Brooklyn",11216,11216,4.13,29,46,4,802,Clouds,scattered clouds
239008,2018-01-31 23:58:24,2018-02-01 00:01:07,228.0,228.0,0.0,"Sunset Park West, Brooklyn","Sunset Park West, Brooklyn",11216,11216,2.72,29,46,4,802,Clouds,scattered clouds
241865,2018-01-31 23:59:43,2018-02-01 00:21:01,90.0,255.0,0.0,"Flatiron, Manhattan","Williamsburg (North Side), Brooklyn",10024,11211,21.30,29,46,4,802,Clouds,scattered clouds
243890,2018-01-31 23:59:50,2018-02-01 00:21:43,181.0,72.0,1.0,"Park Slope, Brooklyn","East Flatbush/Remsen Village, Brooklyn",11216,11216,21.88,29,46,4,802,Clouds,scattered clouds

In [36]:
sort_file['Pickup_Datetime'] = sort_file['Pickup_Datetime'].dt.round(freq='1H')
sort_file

,Pickup_Datetime,Dropoff_Datetime,PUlocationID,DOlocationID,SR_Flag,Pickup_City,Dropoff_City,Pickup_Zipcode,Dropoff_Zipcode,Trip_Duration,Temperature,Humidity,Wind_Speed,ID_Weather,Weather_Like,Weather_Description
0,2018-01-01 22:00:00,2018-01-01 22:44:48,205.0,63.0,1.0,"Saint Albans, Queens","Cypress Hills, Brooklyn",11366,11216,22.75,17,34,3,800,Clear,sky is clear
1,2018-01-01 13:00:00,2018-01-01 13:12:08,125.0,93.0,0.0,"Hudson Sq, Manhattan","Flushing Meadows-Corona Park, Queens",10024,11366,28.03,6,60,2,800,Clear,sky is clear
2,2018-01-01 00:00:00,2018-01-01 00:41:23,39.0,71.0,1.0,"Canarsie, Brooklyn","East Flatbush/Farragut, Brooklyn",11216,11216,13.12,11,43,4,800,Clear,sky is clear
3,2018-01-01 03:00:00,2018-01-01 02:56:46,100.0,137.0,0.0,"Garment District, Manhattan","Kips Bay, Manhattan",10024,10024,13.85,9,46,5,800,Clear,sky is clear
4,2018-01-01 14:00:00,2018-01-01 14:37:55,55.0,115.0,0.0,"Coney Island, Brooklyn","Grymes Hill/Clifton, Staten Island",11216,10306,22.15,8,60,2,800,Clear,sky is clear
5,2018-01-01 05:00:00,2018-01-01 05:01:29,7.0,244.0,0.0,"Astoria, Queens","Washington Heights South, Manhattan",11366,10024,16.83,8,55,4,800,Clear,sky is clear
6,2018-01-01 03:00:00,2018-01-01 02:48:16,144.0,249.0,0.0,"Little Italy/NoLiTa, Manhattan","West Village, Manhattan",10013,10024,8.53,9,46,5,800,Clear,sky is clear
7,2018-01-01 04:00:00,2018-01-01 03:51:51,246.0,68.0,0.0,"West Chelsea/Hudson Yards, Manhattan","East Chelsea, Manhattan",10001,10024,5.78,9,51,5,800,Clear,sky is clear
8,2018-01-01 06:00:00,2018-01-01 05:39:42,130.0,215.0,0.0,"Jamaica, Queens","South Jamaica, Queens",11366,11366,5.67,8,55,4,800,Clear,sky is clear
9,2018-01-01 14:00:00,2018-01-01 14:09:11,49.0,65.0,0.0,"Clinton Hill, Brooklyn","Downtown Brooklyn/MetroTech, Brooklyn",11216,11201,9.42,8,60,2,800,Clear,sky is clear
10,2018-01-01 04:00:00,2018-01-01 03:59:21,164.0,87.0,0.0,"Midtown South, Manhattan","Financial District North, Manhattan",10017,10024,14.27,9,51,5,800,Clear,sky is clear
11,2018-01-02 00:00:00,2018-01-01 23:46:44,37.0,36.0,0.0,"Bushwick South, Brooklyn","Bushwick North, Brooklyn",11216,11216,5.78,14,37,1,800,Clear,sky is clear
12,2018-01-01 04:00:00,2018-01-01 04:32:09,68.0,166.0,1.0,"East Chelsea, Manhattan","Morningside Heights, Manhattan",10024,10024,11.60,9,51,5,800,Clear,sky is clear
13,2018-01-01 01:00:00,2018-01-01 01:23:46,108.0,14.0,0.0,"Gravesend, Brooklyn","Bay Ridge, Brooklyn",11216,11216,16.55,10,43,5,800,Clear,sky is clear
14,2018-01-01 01:00:00,2018-01-01 01:41:10,216.0,72.0,0.0,"South Ozone Park, Queens","East Flatbush/Remsen Village, Brooklyn",11366,11216,67.18,10,43,5,800,Clear,sky is clear
15,2018-01-01 02:00:00,2018-01-01 01:41:17,216.0,216.0,0.0,"South Ozone Park, Queens","South Ozone Park, Queens",11366,11366,5.78,10,46,4,800,Clear,sky is clear
16,2018-01-01 01:00:00,2018-01-01 01:11:38,37.0,198.0,0.0,"Bushwick South, Brooklyn","Ridgewood, Queens",11216,11366,9.02,10,43,5,800,Clear,sky is clear
17,2018-01-01 04:00:00,2018-01-01 04:20:21,7.0,7.0,0.0,"Astoria, Queens","Astoria, Queens",11366,11366,5.75,9,51,5,800,Clear,sky is clear
18,2018-01-01 18:00:00,2018-01-01 18:46:36,132.0,7.0,0.0,"JFK Airport, Queens","Astoria, Queens",11366,11366,31.07,16,36,4,800,Clear,sky is clear
19,2018-01-01 14:00:00,2018-01-01 13:41:31,74.0,263.0,0.0,"East Harlem North, Manhattan","Yorkville West, Manhattan",10024,10024,8.02,8,60,2,800,Clear,sky is clear
20,2018-01-01 11:00:00,2018-01-01 11:06:18,228.0,246.0,0.0,"Sunset Park West, Brooklyn","West Chelsea/Hudson Yards, Manhattan",11216,10001,22.90,6,55,2,800,Clear,sky is clear
21,2018-01-01 19:00:00,2018-01-01 19:13:25,170.0,79.0,1.0,"Murray Hill, Manhattan","East Village, Manhattan",10024,10024,8.75,18,34,4,800,Clear,sky is clear
22,2018-01-01 13:00:00,2018-01-01 13:30:38,74.0,42.0,1.0,"East Harlem North, Manhattan","Central Harlem North, Manhattan",10024,10024,11.08,6,60,2,800,Clear,sky is clear
23,2018-01-01 15:00:00,2018-01-01 15:00:00,160.0,223.0,0.0,"Middle Village, Queens","Steinway, Queens",11366,11105,18.30,10,55,3,800,Clear,sky is clear
24,2018-01-01 07:00:00,2018-01-01 06:59:48,220.0,169.0,0.0,"Spuyten Duyvil/Kingsbridge, Bronx","Mount Hope, Bronx",10462,10462,27.33,8,55,4,800,Clear,sky is clear
25,2018-01-01 20:00:00,2018-01-01 20:04:45,164.0,161.0,0.0,"Midtown South, Manhattan","Midtown Center, Manhattan",10017,10036,8.03,18,34,1,800,Clear,sky is clear
26,2018-01-01 04:00:00,2018-01-01 04:07:26,152.0,244.0,0.0,"Manhattanville, Manhattan","Washington Heights South, Manhattan",10027,10024,7.40,9,51,5,800,Clear,sky is clear
27,2018-01-01 04:00:00,2018-01-01 04:04:05,132.0,123.0,0.0,"JFK Airport, Queens","Homecrest, Brooklyn",11366,11216,30.35,9,51,5,800,Clear,sky is clear
28,2018-01-01 22:00:00,2018-01-01 22:36:12,164.0,45.0,0.0,"Midtown South, Manhattan","Chinatown, Manhattan",10017,10024,9.55,17,34,3,800,Clear,sky is clear
29,2018-01-01 01:00:00,2018-01-01 01:26:12,226.0,7.0,0.0,"Sunnyside, Queens","Astoria, Queens",11366,11366,5.75,10,43,5,800,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244466,2018-02-01 00:00:00,2018-02-01 00:10:56,140.0,80.0,0.0,"Lenox Hill East, Manhattan","East Williamsburg, Brooklyn",10024,11216,17.97,29,46,4,802,Clouds,scattered clouds
244467,2018-01-31 15:00:00,2018-01-31 16:12:47,247.0,230.0,0.0,"West Concourse, Bronx","Times Sq/Theatre District, Manhattan",10462,10024,59.75,20,48,2,802,Clouds,scattered clouds
244468,2018-01-31 00:00:00,2018-01-31 01:00:07,140.0,255.0,0.0,"Lenox Hill East, Manhattan","Williamsburg (North Side), Brooklyn",10024,11211,30.85,29,50,10,804,Clouds,overcast clouds
244469,2018-01-31 16:00:00,2018-01-31 15:58:43,234.0,68.0,0.0,"Union Sq, Manhattan","East Chelsea, Manhattan",10003,10024,19.78,22,41,3,800,Clear,sky is clear
244470,2018-01-31 20:00:00,2018-01-31 19:48:33,177.0,35.0,0.0,"Ocean Hill, Brooklyn","Brownsville, Brooklyn",11216,11216,6.68,30,100,2,800,Clear,sky is clear
244471,2018-01-31 17:00:00,2018-01-31 16:55:12,168.0,247.0,0.0,"Mott Haven/Port Morris, Bronx","West Concourse, Bronx",10462,10462,12.30,25,38,2,802,Clouds,scattered clouds
244472,2018-01-31 08:00:00,2018-01-31 08:29:55,112.0,145.0,0.0,"Greenpoint, Brooklyn","Long Island City/Hunters Point, Queens",11216,11366,9.40,20,53,4,800,Clear,sky is clear
244473,2018-01-31 00:00:00,2018-01-31 00:19:52,205.0,130.0,0.0,"Saint Albans, Queens","Jamaica, Queens",11366,11366,7.28,29,50,10,804,Clouds,overcast clouds
244474,2018-01-31 16:00:00,2018-01-31 16:05:09,246.0,68.0,0.0,"West Chelsea/Hudson Yards, Manhattan","East Chelsea, Manhattan",10001,10024,11.90,22,41,3,800,Clear,sky is clear
244475,2018-01-31 13:00:00,2018-01-31 13:20:08,29.0,150.0,0.0,"Brighton Beach, Brooklyn","Manhattan Beach, Brooklyn",11216,11216,6.12,17,66,2,800,Clear,sky is clear
244476,2018-01-31 15:00:00,2018-01-31 17:56:19,205.0,205.0,0.0,"Saint Albans, Queens","Saint Albans, Queens",11366,11366,159.18,20,48,2,802,Clouds,scattered clouds
244477,2018-01-31 19:00:00,2018-01-31 19:15:55,113.0,68.0,0.0,"Greenwich Village North, Manhattan","East Chelsea, Manhattan",10024,10024,18.88,29,36,4,802,Clouds,scattered clouds
244478,2018-01-31 13:00:00,2018-01-31 13:49:32,263.0,170.0,0.0,"Yorkville West, Manhattan","Murray Hill, Manhattan",10024,10024,26.60,17,66,2,800,Clear,sky is clear
244479,2018-01-31 16:00:00,2018-01-31 16:49:33,39.0,181.0,0.0,"Canarsie, Brooklyn","Park Slope, Brooklyn",11216,11216,35.72,22,41,3,800,Clear,sky is clear
244480,2018-01-31 09:00:00,2018-01-31 09:49:58,13.0,164.0,0.0,"Battery Park City, Manhattan","Midtown South, Manhattan",10024,10017,32.58,18,48,6,800,Clear,sky is clear
244481,2018-01-31 20:00:00,2018-01-31 20:39:32,162.0,145.0,0.0,"Midtown East, Manhattan","Long Island City/Hunters Point, Queens",10024,11366,13.55,30,100,2,800,Clear,sky is clear
244482,2018-01-31 08:00:00,2018-01-31 08:28:57,137.0,90.0,0.0,"Kips Bay, Manhattan","Flatiron, Manhattan",10024,10024,19.40,20,53,4,800,Clear,sky is clear
244483,2018-01-31 21:00:00,2018-01-31 21:29:03,49.0,217.0,0.0,"Clinton Hill, Brooklyn","South Williamsburg, Brooklyn",11216,11216,3.07,31,39,5,803,Clouds,broken clouds
244484,2018-01-31 08:00:00,2018-01-31 08:32:05,229.0,237.0,0.0,"Sutton Place/Turtle Bay North, Manhattan","Upper East Side South, Manhattan",10022,10024,9.93,20,53,4,800,Clear,sky is clear
244485,2018-01-31 18:00:00,2018-01-31 18:41:45,68.0,88.0,0.0,"East Chelsea, Manhattan","Financial District South, Manhattan",10024,10024,21.17,27,36,4,802,Clouds,scattered clouds
244486,2018-01-31 14:00:00,2018-01-31 14:23:20,142.0,233.0,0.0,"Lincoln Square East, Manhattan","UN/Turtle Bay South, Manhattan",10024,10024,25.72,18,57,1,802,Clouds,scattered clouds
244487,2018-01-31 17:00:00,2018-01-31 17:21:49,164.0,43.0,0.0,"Midtown South, Manhattan","Central Park, Manhattan",10017,10024,11.67,25,38,2,802,Clouds,scattered clouds
244488,2018-01-31 13:00:00,2018-01-31 13:35:04,50.0,166.0,0.0,"Clinton West, Manhattan","Morningside Heights, Manhattan",10036,10024,13.57,17,66,2,800,Clear,sky is clear
244489,2018-01-31 07:00:00,2018-01-31 06:54:22,223.0,74.0,0.0,"Steinway, Queens","East Harlem North, Manhattan",11105,10024,12.23,22,53,8,800,Clear,sky is clear
244490,2018-01-31 11:00:00,2018-01-31 11:43:51,140.0,138.0,0.0,"Lenox Hill East, Manhattan","LaGuardia Airport, Queens",10024,11371,26.07,18,57,4,800,Clear,sky is clear
244491,2018-01-31 20:00:00,2018-01-31 20:10:58,50.0,256.0,0.0,"Clinton West, Manhattan","Williamsburg (South Side), Brooklyn",10036,11249,36.08,30,100,2,800,Clear,sky is clear
244492,2018-01-31 13:00:00,2018-01-31 13:37:18,89.0,61.0,1.0,"Flatbush/Ditmas Park, Brooklyn","Crown Heights North, Brooklyn",11216,11216,23.85,17,66,2,800,Clear,sky is clear
244493,2018-01-31 16:00:00,2018-01-31 16:38:58,235.0,78.0,0.0,"University Heights/Morris Heights, Bronx","East Tremont, Bronx",10462,10457,13.55,22,41,3,800,Clear,sky is clear
244494,2018-01-31 14:00:00,2018-01-31 14:19:09,17.0,49.0,1.0,"Bedford, Brooklyn","Clinton Hill, Brooklyn",11216,11216,4.92,18,57,1,802,Clouds,scattered clouds
244495,2018-01-31 11:00:00,2018-01-31 11:25:31,79.0,114.0,0.0,"East Village, Manhattan","Greenwich Village South, Manhattan",10024,10024,3.20,18,57,4,800,Clear,sky is clear

In [37]:
group_by_time = sort_file[["Pickup_Datetime",
                           "Temperature",
                           "Humidity",
                           "Wind_Speed",
                           "Weather_Like",
                           "Weather_Description"]]
group_by_time

,Pickup_Datetime,Temperature,Humidity,Wind_Speed,Weather_Like,Weather_Description
0,2018-01-01 22:00:00,17,34,3,Clear,sky is clear
1,2018-01-01 13:00:00,6,60,2,Clear,sky is clear
2,2018-01-01 00:00:00,11,43,4,Clear,sky is clear
3,2018-01-01 03:00:00,9,46,5,Clear,sky is clear
4,2018-01-01 14:00:00,8,60,2,Clear,sky is clear
5,2018-01-01 05:00:00,8,55,4,Clear,sky is clear
6,2018-01-01 03:00:00,9,46,5,Clear,sky is clear
7,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
8,2018-01-01 06:00:00,8,55,4,Clear,sky is clear
9,2018-01-01 14:00:00,8,60,2,Clear,sky is clear
10,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
11,2018-01-02 00:00:00,14,37,1,Clear,sky is clear
12,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
13,2018-01-01 01:00:00,10,43,5,Clear,sky is clear
14,2018-01-01 01:00:00,10,43,5,Clear,sky is clear
15,2018-01-01 02:00:00,10,46,4,Clear,sky is clear
16,2018-01-01 01:00:00,10,43,5,Clear,sky is clear
17,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
18,2018-01-01 18:00:00,16,36,4,Clear,sky is clear
19,2018-01-01 14:00:00,8,60,2,Clear,sky is clear
20,2018-01-01 11:00:00,6,55,2,Clear,sky is clear
21,2018-01-01 19:00:00,18,34,4,Clear,sky is clear
22,2018-01-01 13:00:00,6,60,2,Clear,sky is clear
23,2018-01-01 15:00:00,10,55,3,Clear,sky is clear
24,2018-01-01 07:00:00,8,55,4,Clear,sky is clear
25,2018-01-01 20:00:00,18,34,1,Clear,sky is clear
26,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
27,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
28,2018-01-01 22:00:00,17,34,3,Clear,sky is clear
29,2018-01-01 01:00:00,10,43,5,Clear,sky is clear
...,...,...,...,...,...,...
244466,2018-02-01 00:00:00,29,46,4,Clouds,scattered clouds
244467,2018-01-31 15:00:00,20,48,2,Clouds,scattered clouds
244468,2018-01-31 00:00:00,29,50,10,Clouds,overcast clouds
244469,2018-01-31 16:00:00,22,41,3,Clear,sky is clear
244470,2018-01-31 20:00:00,30,100,2,Clear,sky is clear
244471,2018-01-31 17:00:00,25,38,2,Clouds,scattered clouds
244472,2018-01-31 08:00:00,20,53,4,Clear,sky is clear
244473,2018-01-31 00:00:00,29,50,10,Clouds,overcast clouds
244474,2018-01-31 16:00:00,22,41,3,Clear,sky is clear
244475,2018-01-31 13:00:00,17,66,2,Clear,sky is clear
244476,2018-01-31 15:00:00,20,48,2,Clouds,scattered clouds
244477,2018-01-31 19:00:00,29,36,4,Clouds,scattered clouds
244478,2018-01-31 13:00:00,17,66,2,Clear,sky is clear
244479,2018-01-31 16:00:00,22,41,3,Clear,sky is clear
244480,2018-01-31 09:00:00,18,48,6,Clear,sky is clear
244481,2018-01-31 20:00:00,30,100,2,Clear,sky is clear
244482,2018-01-31 08:00:00,20,53,4,Clear,sky is clear
244483,2018-01-31 21:00:00,31,39,5,Clouds,broken clouds
244484,2018-01-31 08:00:00,20,53,4,Clear,sky is clear
244485,2018-01-31 18:00:00,27,36,4,Clouds,scattered clouds
244486,2018-01-31 14:00:00,18,57,1,Clouds,scattered clouds
244487,2018-01-31 17:00:00,25,38,2,Clouds,scattered clouds
244488,2018-01-31 13:00:00,17,66,2,Clear,sky is clear
244489,2018-01-31 07:00:00,22,53,8,Clear,sky is clear
244490,2018-01-31 11:00:00,18,57,4,Clear,sky is clear
244491,2018-01-31 20:00:00,30,100,2,Clear,sky is clear
244492,2018-01-31 13:00:00,17,66,2,Clear,sky is clear
244493,2018-01-31 16:00:00,22,41,3,Clear,sky is clear
244494,2018-01-31 14:00:00,18,57,1,Clouds,scattered clouds
244495,2018-01-31 11:00:00,18,57,4,Clear,sky is clear

In [82]:
group_data = group_by_time.groupby(["Pickup_Datetime","Weather_Like","Weather_Description"])
mean_temp = group_data["Temperature"].mean()
mean_humidity = group_data["Humidity"].mean()
mean_windspeed = group_data["Wind_Speed"].mean()
group_data.head()

,Pickup_Datetime,Temperature,Humidity,Wind_Speed,Weather_Like,Weather_Description
0,2018-01-01 22:00:00,17,34,3,Clear,sky is clear
1,2018-01-01 13:00:00,6,60,2,Clear,sky is clear
2,2018-01-01 00:00:00,11,43,4,Clear,sky is clear
3,2018-01-01 03:00:00,9,46,5,Clear,sky is clear
4,2018-01-01 14:00:00,8,60,2,Clear,sky is clear
5,2018-01-01 05:00:00,8,55,4,Clear,sky is clear
6,2018-01-01 03:00:00,9,46,5,Clear,sky is clear
7,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
8,2018-01-01 06:00:00,8,55,4,Clear,sky is clear
9,2018-01-01 14:00:00,8,60,2,Clear,sky is clear
10,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
11,2018-01-02 00:00:00,14,37,1,Clear,sky is clear
12,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
13,2018-01-01 01:00:00,10,43,5,Clear,sky is clear
14,2018-01-01 01:00:00,10,43,5,Clear,sky is clear
15,2018-01-01 02:00:00,10,46,4,Clear,sky is clear
16,2018-01-01 01:00:00,10,43,5,Clear,sky is clear
17,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
18,2018-01-01 18:00:00,16,36,4,Clear,sky is clear
19,2018-01-01 14:00:00,8,60,2,Clear,sky is clear
20,2018-01-01 11:00:00,6,55,2,Clear,sky is clear
21,2018-01-01 19:00:00,18,34,4,Clear,sky is clear
22,2018-01-01 13:00:00,6,60,2,Clear,sky is clear
23,2018-01-01 15:00:00,10,55,3,Clear,sky is clear
24,2018-01-01 07:00:00,8,55,4,Clear,sky is clear
25,2018-01-01 20:00:00,18,34,1,Clear,sky is clear
26,2018-01-01 04:00:00,9,51,5,Clear,sky is clear
28,2018-01-01 22:00:00,17,34,3,Clear,sky is clear
29,2018-01-01 01:00:00,10,43,5,Clear,sky is clear
30,2018-01-01 08:00:00,7,55,4,Clear,sky is clear
...,...,...,...,...,...,...
236935,2018-01-31 02:00:00,27,58,3,Clouds,scattered clouds
236944,2018-01-31 03:00:00,26,57,5,Clouds,scattered clouds
236948,2018-01-31 11:00:00,18,57,4,Clear,sky is clear
236949,2018-01-31 01:00:00,28,53,3,Clouds,overcast clouds
236954,2018-01-31 05:00:00,24,53,5,Clear,sky is clear
236969,2018-01-31 06:00:00,23,49,4,Clear,sky is clear
236976,2018-01-31 14:00:00,18,57,1,Clouds,scattered clouds
236983,2018-01-31 23:00:00,30,46,3,Clouds,broken clouds
236986,2018-01-31 04:00:00,25,49,6,Clear,sky is clear
236988,2018-01-31 02:00:00,27,58,3,Clouds,scattered clouds
236991,2018-01-31 23:00:00,30,46,3,Clouds,broken clouds
236996,2018-01-31 23:00:00,30,46,3,Clouds,broken clouds
237001,2018-01-31 23:00:00,30,46,3,Clouds,broken clouds
237006,2018-02-01 00:00:00,29,46,4,Clouds,scattered clouds
237008,2018-01-31 14:00:00,18,57,1,Clouds,scattered clouds
237022,2018-02-01 00:00:00,29,46,4,Clouds,scattered clouds
237029,2018-01-31 14:00:00,18,57,1,Clouds,scattered clouds
237038,2018-01-31 14:00:00,18,57,1,Clouds,scattered clouds
237071,2018-02-01 00:00:00,29,46,4,Clouds,scattered clouds
237077,2018-01-31 02:00:00,27,58,3,Clouds,scattered clouds
237184,2018-01-31 03:00:00,26,57,5,Clouds,scattered clouds
237198,2018-01-31 05:00:00,24,53,5,Clear,sky is clear
237232,2018-01-31 04:00:00,25,49,6,Clear,sky is clear
237290,2018-01-31 05:00:00,24,53,5,Clear,sky is clear
237296,2018-01-31 03:00:00,26,57,5,Clouds,scattered clouds
237301,2018-01-31 04:00:00,25,49,6,Clear,sky is clear
237331,2018-01-31 05:00:00,24,53,5,Clear,sky is clear
237379,2018-01-31 04:00:00,25,49,6,Clear,sky is clear
237577,2018-01-31 03:00:00,26,57,5,Clouds,scattered clouds
237743,2018-01-31 03:00:00,26,57,5,Clouds,scattered clouds

In [83]:
count_data = group_data["Pickup_Datetime"].count()
count_data.head()

Pickup_Datetime      Weather_Like  Weather_Description
2018-01-01 00:00:00  Clear         sky is clear           257
2018-01-01 01:00:00  Clear         sky is clear           823
2018-01-01 02:00:00  Clear         sky is clear           789
2018-01-01 03:00:00  Clear         sky is clear           694
2018-01-01 04:00:00  Clear         sky is clear           505
Name: Pickup_Datetime, dtype: int64

In [84]:
avg_temp = group_data["Temperature"].mean()
avg_temp.head()

Pickup_Datetime      Weather_Like  Weather_Description
2018-01-01 00:00:00  Clear         sky is clear           11
2018-01-01 01:00:00  Clear         sky is clear           10
2018-01-01 02:00:00  Clear         sky is clear           10
2018-01-01 03:00:00  Clear         sky is clear            9
2018-01-01 04:00:00  Clear         sky is clear            9
Name: Temperature, dtype: int64

In [85]:
avg_humidity = group_data["Humidity"].mean()
avg_humidity.head()

Pickup_Datetime      Weather_Like  Weather_Description
2018-01-01 00:00:00  Clear         sky is clear           43
2018-01-01 01:00:00  Clear         sky is clear           43
2018-01-01 02:00:00  Clear         sky is clear           46
2018-01-01 03:00:00  Clear         sky is clear           46
2018-01-01 04:00:00  Clear         sky is clear           51
Name: Humidity, dtype: int64

In [86]:
avg_wind = group_data["Wind_Speed"].mean()
avg_wind.head()

Pickup_Datetime      Weather_Like  Weather_Description
2018-01-01 00:00:00  Clear         sky is clear           4
2018-01-01 01:00:00  Clear         sky is clear           5
2018-01-01 02:00:00  Clear         sky is clear           4
2018-01-01 03:00:00  Clear         sky is clear           5
2018-01-01 04:00:00  Clear         sky is clear           5
Name: Wind_Speed, dtype: int64

In [87]:
weather_like = group_data["Weather_Like"].count()
group_data["Weather_Like"].unique()

Pickup_Datetime      Weather_Like  Weather_Description
2018-01-01 00:00:00  Clear         sky is clear            [Clear]
2018-01-01 01:00:00  Clear         sky is clear            [Clear]
2018-01-01 02:00:00  Clear         sky is clear            [Clear]
2018-01-01 03:00:00  Clear         sky is clear            [Clear]
2018-01-01 04:00:00  Clear         sky is clear            [Clear]
2018-01-01 05:00:00  Clear         sky is clear            [Clear]
2018-01-01 06:00:00  Clear         sky is clear            [Clear]
2018-01-01 07:00:00  Clear         sky is clear            [Clear]
2018-01-01 08:00:00  Clear         sky is clear            [Clear]
2018-01-01 09:00:00  Clear         sky is clear            [Clear]
2018-01-01 10:00:00  Clear         sky is clear            [Clear]
2018-01-01 11:00:00  Clear         sky is clear            [Clear]
2018-01-01 12:00:00  Clear         sky is clear            [Clear]
2018-01-01 13:00:00  Clear         sky is clear            [Clear]
2018-01-01 14:00:00  Clear         sky is clear            [Clear]
2018-01-01 15:00:00  Clear         sky is clear            [Clear]
2018-01-01 16:00:00  Clear         sky is clear            [Clear]
2018-01-01 17:00:00  Clear         sky is clear            [Clear]
2018-01-01 18:00:00  Clear         sky is clear            [Clear]
2018-01-01 19:00:00  Clear         sky is clear            [Clear]
2018-01-01 20:00:00  Clear         sky is clear            [Clear]
2018-01-01 21:00:00  Clear         sky is clear            [Clear]
2018-01-01 22:00:00  Clear         sky is clear            [Clear]
2018-01-01 23:00:00  Clear         sky is clear            [Clear]
2018-01-02 00:00:00  Clear         sky is clear            [Clear]
2018-01-02 01:00:00  Clear         sky is clear            [Clear]
2018-01-02 02:00:00  Clear         sky is clear            [Clear]
2018-01-02 03:00:00  Clear         sky is clear            [Clear]
2018-01-02 04:00:00  Clear         sky is clear            [Clear]
2018-01-02 05:00:00  Clear         sky is clear            [Clear]
                                                            ...
2018-01-30 19:00:00  Snow          light snow               [Snow]
2018-01-30 20:00:00  Mist          mist                     [Mist]
2018-01-30 21:00:00  Haze          haze                     [Haze]
2018-01-30 22:00:00  Snow          light snow               [Snow]
2018-01-30 23:00:00  Clouds        overcast clouds        [Clouds]
2018-01-31 00:00:00  Clouds        overcast clouds        [Clouds]
2018-01-31 01:00:00  Clouds        overcast clouds        [Clouds]
2018-01-31 02:00:00  Clouds        scattered clouds       [Clouds]
2018-01-31 03:00:00  Clouds        scattered clouds       [Clouds]
2018-01-31 04:00:00  Clear         sky is clear            [Clear]
2018-01-31 05:00:00  Clear         sky is clear            [Clear]
2018-01-31 06:00:00  Clear         sky is clear            [Clear]
2018-01-31 07:00:00  Clear         sky is clear            [Clear]
2018-01-31 08:00:00  Clear         sky is clear            [Clear]
2018-01-31 09:00:00  Clear         sky is clear            [Clear]
2018-01-31 10:00:00  Clear         sky is clear            [Clear]
2018-01-31 11:00:00  Clear         sky is clear            [Clear]
2018-01-31 12:00:00  Clear         sky is clear            [Clear]
2018-01-31 13:00:00  Clear         sky is clear            [Clear]
2018-01-31 14:00:00  Clouds        scattered clouds       [Clouds]
2018-01-31 15:00:00  Clouds        scattered clouds       [Clouds]
2018-01-31 16:00:00  Clear         sky is clear            [Clear]
2018-01-31 17:00:00  Clouds        scattered clouds       [Clouds]
2018-01-31 18:00:00  Clouds        scattered clouds       [Clouds]
2018-01-31 19:00:00  Clouds        scattered clouds       [Clouds]
2018-01-31 20:00:00  Clear         sky is clear            [Clear]
2018-01-31 21:00:00  Clouds        broken clouds          [Clouds]
2018-01-31 22:00:00  Clouds        broken clouds          [Clouds]
2018-01-31 23:00:00  Clouds        broken clouds          [Clouds]
2018-02-01 00:00:00  Clouds        scattered clouds       [Clouds]
Name: Weather_Like, Length: 745, dtype: object

In [89]:


final_df = pd.DataFrame({"Number Of Rides":count_data,
                       "Temperature":avg_temp,
                       "Wind_Speed":avg_wind,
                       "Humidity":avg_humidity,
                       })
final_df.head()

,,,Number Of Rides,Temperature,Wind_Speed,Humidity
Pickup_Datetime,Weather_Like,Weather_Description,,,,
2018-01-01 00:00:00,Clear,sky is clear,257,11,4,43
2018-01-01 01:00:00,Clear,sky is clear,823,10,5,43
2018-01-01 02:00:00,Clear,sky is clear,789,10,4,46
2018-01-01 03:00:00,Clear,sky is clear,694,9,5,46
2018-01-01 04:00:00,Clear,sky is clear,505,9,5,51

In [97]:
# calculate the time of the rain
final_df = final_df.reset_index()
final_df.head()

,level_0,index,Pickup_Datetime,Weather_Like,Weather_Description,Number Of Rides,Temperature,Wind_Speed,Humidity
0,0,0,2018-01-01 00:00:00,Clear,sky is clear,257,11,4,43
1,1,1,2018-01-01 01:00:00,Clear,sky is clear,823,10,5,43
2,2,2,2018-01-01 02:00:00,Clear,sky is clear,789,10,4,46
3,3,3,2018-01-01 03:00:00,Clear,sky is clear,694,9,5,46
4,4,4,2018-01-01 04:00:00,Clear,sky is clear,505,9,5,51

In [121]:
# calculate the number of rides in different weather description
weather_des = final_df[["Weather_Description","Number Of Rides"]]
weather_des
weather_des_rides = weather_des.groupby("Weather_Description").sum()
weather_des_rides

#find the maximum value with conditional formating
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

weather_des_rides.style.apply(highlight_max)


def highlight_min(s):
    '''
    highlight the minimum in series red.
    '''
    is_min = s ==s.min()
    return['background-color: red' if v else '' for v in is_min]

weather_des_rides.style.apply(highlight_min)


weather_des_rides.style.\
    apply(highlight_min).\
    apply(highlight_max)

In [117]:
# calculate the number of rides in weather like
weather_like = final_df[["Number Of Rides","Weather_Like"]]
weather_like.head()

weather_like_rides = weather_like.groupby("Weather_Like").sum()
weather_like_rides

# find the maximum value with conditional formating
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

weather_like_rides.style.apply(highlight_max)


def highlight_min(s):
    '''
    highlight the minimum in series red.
    '''
    is_min = s ==s.min()
    return['background-color: red' if v else '' for v in is_min]

weather_like_rides.style.apply(highlight_min)


weather_like_rides.style.\
    apply(highlight_min).\
    apply(highlight_max)

In [122]:
humidity = final_df[["Humidity","Number Of Rides"]]
humidity

humidity_rides = humidity.groupby("Humidity").sum()
humidity_rides

# find the maximum value with conditional formating
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

humidity_rides.style.apply(highlight_max)


def highlight_min(s):
    '''
    highlight the minimum in series red.
    '''
    is_min = s ==s.min()
    return['background-color: red' if v else '' for v in is_min]

humidity_rides.style.apply(highlight_min)


humidity_rides.style.\
    apply(highlight_min).\
    apply(highlight_max)

In [127]:
wind = final_df[["Wind_Speed","Number Of Rides"]]

wind_rides = wind.groupby("Wind_Speed").sum()
wind_rides.head()

# find the maximum value with conditional formating
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

wind_rides.style.apply(highlight_max)


def highlight_min(s):
    '''
    highlight the minimum in series red.
    '''
    is_min = s ==s.min()
    return['background-color: red' if v else '' for v in is_min]

wind_rides.style.apply(highlight_min)


wind_rides.style.\
    apply(highlight_min).\
    apply(highlight_max)

In [128]:
temperature = final_df[["Temperature","Number Of Rides"]]

temperature_rides = temperature.groupby("Temperature").sum()
temperature_rides.head()

# find the maximum value with conditional formating
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

temperature_rides.style.apply(highlight_max)


def highlight_min(s):
    '''
    highlight the minimum in series red.
    '''
    is_min = s ==s.min()
    return['background-color: red' if v else '' for v in is_min]

temperature_rides.style.apply(highlight_min)


temperature_rides.style.\
    apply(highlight_min).\
    apply(highlight_max)